body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #00c6fb, #0072ff);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#weather-info {
    margin-top: 20px;
    text-align: center;
}

.orange {
    color: orange;
}